services:

  qdrant:
    image: qdrant/qdrant:v1.12.0
    restart: always
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_storage:/qdrant/storage

  backend:
    build: ./backend_python
    restart: always
    env_file:
      - ./backend_python/.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3004:3000"
    env_file:
      - ./frontend/.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
