name: backend

on:
  push:
    branches:
      - main
      - 'release/*'
    paths:
      - 'backend_python/*'
      - 'requirements.txt'
      - '!**/*.md'
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Où déployer ?'
        required: true
        type: choice
        options:
          - staging
          - production
permissions:
  contents: read

jobs:
  test:
    name: test
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./backend_python
    timeout-minutes: 15
    continue-on-error: false
    steps:
      - name: récupération
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # python v5.1.1
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Installer les dépendances
        run: pip install -r requirements.txt

      - name: Vérifier la qualité du code (Lint)
        run: ruff check 

