name: frontend

on:
  push:
    branches:
      - main
      - 'release/*'
    paths:
      - 'src/**'
      - 'static/**'
      - 'package.json'
      - 'pnpm-lock.yaml'
      - '!**/*.md'
      - '!**/*.md'
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Où déployer ?'
        required: true
        type: choice
        options:
          - staging
          - production
permissions:
  contents: read

env:
  NODE_VERSION: '20'

jobs:
  test:
    name: test
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    continue-on-error: false
    steps:
      - name: récupération
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: pnpm/action-setup@0c17529a66aca453f9227af23103ed11469b1e47 #v4.0.0
        with:
          version: 9
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm lint
      - run: pnpm test

  build:
    needs: test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: pnpm/action-setup@0c17529a66aca453f9227af23103ed11469b1e47 #v4.0.0
        with:
          version: 9
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0

        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
        env:
          PUBLIC_URL_SERVEUR_PYTHON: ${{ secrets.PUBLIC_URL_SERVEUR_PYTHON }}
      - name: sauvegarde le build
        uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
        with:
          name: front-end-dist
          path: build/
          retention-days: 7
